body{
  margin: 0px;
}

body#page_4{
  background-color: cornsilk;
}

div#page_4{
  width:1000px;
  height: 640px;
  background-image: url(Background3_4.jpg);
  background-size: 100%;  
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 10px 5px #888880;
}

div.story_text{
  width: 400px;
  height: 400px;  
  font-size: 24px;
  border: solid black 2px;
  padding: 20px;
  margin: 20px;
}

nav{
  background-color: #FF4A3C;
  height: 80px;
  margin: 0px;
  /*box-shadow: 2px 2px 2px #888880;*/
}

p{
  font-size: 58px;
  margin:0px;
  padding-top: 5px;  
  text-align: center;
  color: #A6E480;
  font-family: Signika;
  /*text-shadow: 2px 2px #ff0000;*/
}