<link href='http://fonts.googleapis.com/css?family=Nunito:400,700|Signika' rel='stylesheet' type='text/css'>

body{
  margin: 0px;
}

nav{
  background-color: #FF4A3C;
  height: 80px;
  margin: 0px;
}

p{
  font-size: 48px;
  margin:0px;
  padding-top: 15px;  
  text-align: center;
  color: #A6E480;
  font-family: Signika;
}